.form-group {
	margin-bottom: 3rem;
	position: relative;
}
.with-custom-icon .form-control{
	padding-right: 10rem;
	position: relative;
}
.with-custom-icon .form-icon {
    position: absolute;
    border: none;
    box-shadow: none;
    background-color: transparent;
    top: 0;
    right: 0;
    font-size: 3rem;
    color: #fff;
    width: 10rem;
    height: 10rem;
    line-height: 2rem;
    text-align: center;
}
.with-custom-icon .form-icon:focus{
	outline: none;
}
.with-custom-icon .form-icon img {
    width: 5rem;
    display: inline-block;
}
.with-custom-icon .form-control:focus + button{
	color: #1b82ae;
}
/* Form Control */

.form-control {
	border-width: 2px;
	font-size: 1.2rem;
	min-height: 6rem;
	border-radius: 0;
	color: #879CA7;
	padding: .375rem 2rem;
	font-style: italic;
	font-weight: 600;
	border-color: #C5DBE6;
	transition: 0.3s all ease;
}
.form-control::placeholder {
	color: #879CA7;
	font-style: italic;
	font-size: 1.2rem;
	font-weight: 600;
}

.form-control::-webkit-input-placeholder {
	color: #879CA7;
	font-style: italic;
	font-size: 1.2rem;
	font-weight: 600;
}

.form-control:-ms-input-placeholder {
	color: #879CA7;
	font-style: italic;
	font-size: 1.2rem;
	font-weight: 600;
}
.form-control:focus {
	border-color: #C5DBE6;
	box-shadow: none;
}

/* For Large Form  */
.form-control-lg {
	padding: 2.3rem 2rem;
	min-height: 10rem;
	border-width: 0.4rem;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: .01rem;
}
.form-control-lg {
	padding: 2.3rem 2rem;
	min-height: 10rem;
	border-width: 0.4rem;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: .01rem;
}
.form-control-lg::placeholder {
	color: #fff;
	font-style: italic;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: .01rem;
}

.form-control-lg::-webkit-input-placeholder {
	color: #fff;
	font-style: italic;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: .01rem;
}

.form-control-lg:-ms-input-placeholder {
	color: #fff;
	font-style: italic;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: .01rem;
}

/* For outline Form  */
.form-outline {
	background-color: transparent;
	border-color: #fff;
	color: #fff;
}
.form-outline::placeholder {
	color: #fff;
	font-style: italic
}

.form-outline::-webkit-input-placeholder {
	color: #fff;
	font-style: italic
}

.form-outline:-ms-input-placeholder {
	color: #fff;
	font-style: italic
}
/* Contact Form */
.get-in-touch .title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 36px;
	line-height: 48px;
	padding-bottom: 48px;
}

.contact-form .form-group {
	position: relative;
}

.contact-form .form-control {
	display: block;
	width: 100%;
	border-width: 2px;
	font-size: 1.5rem;
	color: #333;
	line-height: 26px;
	font-weight: 400;
}

.contact-form .form-control:focus {
	outline: none;
}

.contact-form .form-control:focus+.label, .contact-form .form-control.not-empty+.label {
	transform: translateY(-3.8rem);
	font-size: 1.2rem;
	border-bottom: 2px solid #eee;
}

.contact-form .label {
	position: absolute;
	left: 2rem;
	top: 2rem;
	padding: 0 0.8rem;
	min-width: 6rem;
	font-size: 1.5rem;
	font-weight: 400;
	color: #888;
	cursor: text;
	transition: transform 0.2s ease-in-out;
}

.contact-form .label i {
	font-size: 0.6rem;
}