.form-group {
	margin-bottom: 3rem;
	position: relative;
}

.form-control {
	border-width: 2px;
	font-size: 2rem;
	min-height: 6rem;
	border-radius: 0;
	font-weight: 600;
	border-color: #C5DBE6;
	transition: 0.3s all ease;
}

.form-control:focus {
	border-color: #C5DBE6;
	box-shadow: none;
}

.form-control-lg {
	padding: 2.3rem 2rem;
	min-height: 10rem;
	border-width: 0.4rem;
}

.form-outline {
	background-color: transparent;
	border-color: #fff;
	color: #fff;
}

.form-outline::placeholder {
	color: #fff;
	font-style: italic
}

.form-outline::-webkit-input-placeholder {
	color: #fff;
	font-style: italic
}

.form-outline:-ms-input-placeholder {
	color: #fff;
	font-style: italic
}

.get-in-touch .title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 36px;
	line-height: 48px;
	padding-bottom: 48px;
}

.contact-form .form-group {
	position: relative;
}

.contact-form .form-control {
	display: block;
	width: 100%;
	border-width: 2px;
	font-size: 1.5rem;
	color: #333;
	line-height: 26px;
	font-weight: 400;
}

.contact-form .form-control:focus {
	outline: none;
}

.contact-form .form-control:focus+.label, .contact-form .form-control.not-empty+.label {
	transform: translateY(-3.8rem);
	font-size: 1.2rem;
	border-bottom: 2px solid #eee;
}

.contact-form .label {
	position: absolute;
	left: 2rem;
	top: 2rem;
	padding: 0 0.8rem;
	min-width: 6rem;
	font-size: 1.5rem;
	font-weight: 400;
	color: #888;
	cursor: text;
	transition: transform 0.2s ease-in-out;
}

.contact-form .label i {
	font-size: 0.6rem;
}