@media(max-width: 1440px) {
    html {
        font-size: 52.5%
    }
}

@media(max-width: 1024px) {
    .hero-banner .owl-nav {
        right: 0;
    }
}

@media(max-width:768px) {
    #header .header-top ul {
        text-align: center;
        float: none !important;
    }
    .box-with-bg-img figure {
        min-height: 45.5rem;
    }
    .post .post-image {
        min-height: 40rem;
    }
    .cta .cta-title {
        max-width: 100%;
        text-align: center;
    }
}